<footer class="footer_area">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="footer_top_box">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="footer_top_left">
                                    <img src="/Content/images/footer_logo.png" alt="Footer Logo" />
                                    <p>Aenean luctus risus ac laoreet efficitur. Maecenas sibulum sapien ac turpis volutpat, ac laoreet tortor cursuris feugiat massa et metus molestie.aenean luctususaoreet efficitur. Maecenas vestibulum.</p>
                                    <div class="ft_contact">
                                        <h4>Contact</h4>
                                        <address>
                                            <p> <i class="fa fa-map-marker"></i>Washington Square Park, New York, NY, United States</p>
                                            <a href="tel:+100012354657"><i class="fa fa-phone"></i>Telephone : +1 000 123 54657</a><br>
                                            <a href="mail-to:Info@News.com"><i class="fa fa-phone"></i> E-mail : Info@News.com</a>
                                        </address>
                                    </div>
                                    <div class="ft_connected">
                                        <h4>Stay connected</h4>
                                        <p>Follow us on social media and be up to date with the latest happenings.</p>
                                        <ul>
                                            <li><a class="fa fa-facebook" href=""></a></li>
                                            <li><a class="fa fa-twitter" href=""></a></li>
                                            <li><a class="fa fa-google-plus" href=""></a></li>
                                            <li><a class="fa fa-linkedin" href=""></a></li>
                                            <li><a class="fa fa-tumblr" href=""></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="footer_top_middle">
                                    <div class="ftm_realted_post">
                                        <h4>Popular post</h4>
                                        <div class="single_related_post">
                                            <div class="srp_img"> <a href="blog-single-slider-post.html"> <img src="/Content/images/s_rl_pic1.jpg" alt="" /> </a> </div>
                                            <div class="rel_post_text">
                                                <span>Jun 24,2015</span>
                                                <p>We can design for your desire.We are here...</p>
                                            </div>
                                        </div>
                                        <div class="single_related_post">
                                            <div class="srp_img"> <a href="blog-single-slider-post.html"> <img src="/Content/images/s_rl_pic2.jpg" alt="" /> </a> </div>
                                            <div class="rel_post_text">
                                                <span>Jun 24,2015</span>
                                                <p>We can design for your desire.We are here...</p>
                                            </div>
                                        </div>
                                        <div class="single_related_post">
                                            <div class="srp_img"> <a href="blog-single-slider-post.html"> <img src="/Content/images/s_rl_pic3.jpg" alt="" /> </a> </div>
                                            <div class="rel_post_text">
                                                <span>Jun 24,2015</span>
                                                <p>We can design for your desire.We are here...</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ftm_newsletter">
                                        <h4>Newsletter</h4>
                                        <p>Sign up to hear and get our daily new update via email.</p>
                                        <form>
                                            <input type="text" value="Email address" />
                                            <input type="submit" class="fm_newsletter" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="footer_top_right">
                                    <div class="ftr_video">
                                        <h4>video of the day</h4>
                                        <div class="results_video embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item" width="560" height="350" src="https://www.youtube.com/embed/ScMzIvxBSi4" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="ftr_tags">
                                        <h4>Tags</h4>
                                        <ul id="tag">
                                            <li><a href="">Android</a></li>
                                            <li><a href="">Apple</a></li>
                                            <li><a href="">Games</a></li>
                                            <li><a href="">Apps and Software</a></li>
                                            <li><a href="">Dev and Design</a></li>
                                            <li><a href="">Gallery</a></li>
                                            <li><a href="">Life and Style</a></li>
                                            <li><a href="">Technology</a></li>
                                            <li><a href="">Sports</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="footer_bottom_box">
                        <p> &copy; COPY RIGHTS 2015 All Rights Reserved. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
