@using MVCBlog.Areas.Admin.Models.Types;
@if (ViewBag.IslemDurum == 1)
            {
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4>	<i class="icon fa fa-check"></i> Başarılı!</h4>
        @FormMessages.success
    </div>
}
else if (ViewBag.IslemDurum == 2)
{
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-ban"></i> Hata!</h4>
        @FormMessages.required
    </div>
}
