
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
<section class="content-header">
    <h1>
        Kategori Güncelleme İşlemi
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
    </ol>
</section>

<section class="content">

    <div class="row">

        <div class="col-md-9">


            @Html.Partial("/Areas/Admin/Views/Shared/Partial/FormMessagesPart.cshtml")

            @Html.Partial("Partial/CategoryForm")
        </div>
    </div>
</section>

